//1: bugID
//2: src path
//3: #. package filter
//4: #. package exclude
//5: rpcIdentifyWay: CCMethod, Para, SpecInst
//6: if CCMethod: rpcCCKeyWord
//7: if CCMethod: rpcMethodKeyWord
//8: rpcOutPath
//9-11: event similar with rpc
//12: calleeOutPath
MR-4813
/mnt/storage/jiaxinli/workspace/spoontest/hadoop-0.23.3-src/hadoop-dist/target/hadoop-0.23.3/share/hadoop/
5
org.apache.hadoop.mapred
org.apache.hadoop.mapreduce
org.apache.hadoop.yarn
org.apache.hadoop.ipc
org.apache.hadoop.util.RunJar
2
//LocalJobRunner
Avro
YARNRunner
CCMethod|Para
VersionedProtocol
*
ProtoBase
/mnt/storage/jiaxinli/workspace/predm/result/mr-4813/rpc.txt
CCMethod
/EventHandler
handle
null
/mnt/storage/jiaxinli/workspace/predm/result/mr-4813/callee.txt
